.nav {
    list-style: none;
    padding:0;
    overflow: hidden;
}
.nav li {
    display: inline-block;
    position: relative;
    padding: 0;
    background: rgba(0,0,0, 0.2);
    padding: 0 .4em;
    float: left;
    margin-left: 0.5em;
}
.nav li.active {
    background: rgba(0,255,0, 0.2);
}
.nav li::after {
    content: "";
    display: block;
    position: absolute;
    right: -.4em;
    top: 50%;
    margin-top: -.65em;
    border-bottom: .65em solid white;
    border-top: .65em solid white;
    border-right: none;
    
}
