<h2>Population make up of Europe</h2>
<div class="btn-group">
	<h3>Filter on number of languages spoken</h3>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="1">1</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="2">2</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="3">3</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="0">No filter</label>
</div>
<div class="hc-pie" items="currentArray"></div>




